<section class="productSection">
  <div class="container">
    <button (click)="openForm()" class="btn btn-light"><b>Crear producto</b></button>
    <hr>
    <form class="productSection__formProduct p-5" *ngIf="showForm"(ngSubmit)="onRegister()">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Nombre producto.</label>
            <input type="text" id="name"  [formControl]="productName" required class="form-control"
              placeholder="Dígite el nombre del producto.">
              <p *ngIf="error">Debes ingresar algún valor.</p>
          </div>
        </div>
        <br>
      </div>
      <div class="d-grid gap-2 col-4 mx-auto">
        <div class="d-grid gap-2 mx-auto d-md-block">
          <button (click)="addProduct()" class="btn btn-primary" [disabled]="productName.invalid" type="submit">¡Registrar producto!</button>
        </div>
      </div>
    </form>
  </div>
</section>
