.productSection {
  position: relative;

  &__formProduct {
    position: fixed;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px;
    top: 10%;
    left: 37%;
    background-color: #E9E9E9;
    height: 500px;
    width: 380px;
    z-index: 10;
  }
}

.formProduct__error-message {

  &__span {
    background-color: red;
  }
}

.success-message {
  background-color: red;
}
