<hr>
<br>
<div class="container p-2 my-1 border" id="headerCustomerForm">
  <h1>Formulario Nuevo Cliente</h1>
</div>

<div class="container text-center" id="customerForm">
<section>
  <form [formGroup]="customerForm" method="" class="customerForm row">
    <div class="mb-3">
        <div class="col-12">
            <label class="form-label" for="">Tu Nombre</label>
            <input formControlName="customerName" type="text" class="customerForm__customerName form-control" placeholder="Nombre Completo">
            <div class="alert alert-danger mt-2" [hidden]="customerName?.valid || customerName?.pristine">Tu Nombre Es Obligatorio</div>
        </div>
        <div class="col-12">
            <label class="form-label" for="">Tu Numero De Contacto</label>
            <input formControlName="customerTelephone" type="text" class="form-control" placeholder="Numero De Contacto">
        </div>
        <div class="col-12">
            <label class="form-label" for="">Tu Direccíon De Email</label>
            <input formControlName="customerEmail" type="email" class="form-control" placeholder="Proporciona Un Email">
            <div class="alert alert-danger mt-2" [hidden]="customerEmail?.valid || customerEmail?.pristine">Correo Electronico No Valido</div>
        </div>
          <br>
          <br>
        <div class="d-grid">
          <div>
            <button (click)="sendFormToShow()" class="btn btn-success" type="button" [disabled]="customerForm.invalid">Enviar Formulario</button>
          </div>
        </div>

        <br>
    </div>
  </form>
</section>
</div>

{{ customerName?.errors | json }}
<br>
{{ customerName?.valid }}
<br>
{{ customerForm.valid }}
<hr>

